.wholesale_dealer_register_main{
  border:1px solid rgb(168, 173, 179) ;
  border-radius: 8px;
  padding: 2%;
}
.wholesale_dealer_register_form{
    padding: 3%;
}
.Wholesale_dealer_register{
  padding-top: 5%;
}
.wholesale_dealer_login{
  padding-top: 5%;
}
.wholesale_dealer_login_main{
  border:1px solid rgb(168, 173, 179) ;
  border-radius: 8px;
  padding: 2%;
}
.wholesale_dealer_login_form{
  padding: 3%;

}

